<div class="card">
  <h5 class="card-header">Close Down Location?</h5>
  <div class="card-body">
    <h5 class="card-title">Are you sure you would like to permanently close location <span class="confirm-close">{{restaurant.address}}</span>? This action can't be undone.</h5>
    <a href="#" class="btn btn-danger close-location btn-lg">Close Location</a>
  </div>
</div>

<script src="/javascript/deletelocation.js"></script>
