
<div class="jumbotron background-contact">
  <h1 class="display-4">FRANCHISE OPPORTUNITIES</h1>
  <p class="lead">Established in 1989, Super-Hip is a family owned and operated restaurant company. We began franchising in 2012 and are proud of the franchisees that have joined us. </p>
  <p class="lead">Are you interested in joining us? We are currently interested in franchise partners for select international markets only.</p>
  
  <hr class="my-4">
  
  <p>Please fill out our brief form so that we can put you in touch with our franchise sales team!</p>
  <p class="lead">
        <form class="contactForm">
            
                
            <div class="form-row" >
                    <div class="col">
                    <input type="text" class="form-control" id="first-name" placeholder="First name">
                    </div>
                    <div class="col">
                    <input type="text" class="form-control" id="last-name"placeholder="Last name">
                    </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                {{!-- <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div> --}}
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                    {{!-- <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select> --}}
                    <label for="inputState">State</label>
                    <input type="text" class="form-control" id="inputState">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
            </div>
            {{!-- <div class="form-group">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
                </div>
            </div> --}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    
    </p>


     <p class="lead">Customer Feedback Hotline (8AM-12AM CST)</p>
     <p class="lead">905-614-9HIP</p>
     <a href="mailto:headoffice@hmbrgr.com">Contact Management</a>     
     <p class="lead">7036 Thomspton Milton, ON L4W1V7 Canada</p>
     
    
</div>

<script src="/javascript/contact.js"></script>




