<div class="container dash-cont">

    <div class="row d-flex justify-content-center">
      <a class="badge badge-link dash-link" href="/dashboard/new-location">Open a New Location</a>
    </div>

    <div class="row d-flex justify-content-center">
      <a class="badge badge-link text-black dash-link" href="/dashboard/new-menu">Add a Menu Item</a>
    </div>

    <div class="row d-flex justify-content-center">
      <a class="badge badge-link dash-link" href="/dashboard/all-menu-items">View and Update Menu Items</a>
    </div>

    <div class="row d-flex justify-content-center">
      <a class="badge badge-link dash-link" href="/dashboard/location-menu">View Locations</a>
    </div>

    <div class="row d-flex justify-content-center">
      <a class="badge badge-link dash-link" href="/dashboard/close-location">Close Down a Location</a>
    </div>

</div>