<section>
            <div class = "start">
                <h2>IT STARTED WITH A CITY</h2>
            </div>
                
            <div class="welcome-form">
                
                <br>
                <h4>SUPER-HIP is a centralized platform to help restaurant owners manage multiple locations. With a few simple clicks, restaurant owners can add, edit, and delete menu items from all their restaurant locations. SUPER-HIP will not only help restaurant owners save time but also increase efficieny and save money. SUPER-HIP, helping restaurants owners enter the new era of management!</h4>
            </div>
        </section>   

        <main>
            <div >
                <h2>All SUPER-HIP Restaurants :</h2>
            </div>
            <nav >
                <ul location-title>                    
                    
                    <li>
                        <a href="/location/Toronto">Toronto</a>
                    </li>
                    <li>
                        <a href="/location/Mississauga">Mississauga</a>
                    </li>
                    <li>
                        <a href="/location/Milton">Milton</a>
                    </li>
                    <li>
                        <a href="/location/London">London</a>
                    </li>
                </ul>
            </nav>
        </main>
