<div class="container new-form">
  <div class="row justify-content-md-center">
    <form class="new-form-style new-location">
      <div class="form-group">
        <label for="res-city" class="col-form-label col-form-label-lg">City</label>
        <input type="text" name="res-city" class="form-control form-control-lg" id="res-city" placeholder="Enter City">
      </div>
      <div class="form-group">
        <label for="res-address" class="col-form-label col-form-label-lg">Address</label>
        <input type="text" name="res-address" class="form-control form-control-lg" id="res-address" aria-describedby="emailHelp" placeholder="Enter Address">
      </div>
      <div class="form-group">
        <label for="res-phone" class="col-form-label col-form-label-lg">Phone</label>
        <input type="text" name="res-phone" class="form-control form-control-lg" id="res-phone" placeholder="Enter Phone">
      </div>
      <div class="form-group">
        <label for="res-email" class="col-form-label col-form-label-lg">Email</label>
        <input type="text" name="res-email" class="form-control form-control-lg" id="res-email" placeholder="Enter Email">
      </div>
      <div class="form-group">
        <label for="res-userid" class="col-form-label col-form-label-lg">User Id</label>
        <input type="text" name="res-userid" class="form-control form-control-lg" id="res-userid" placeholder="Enter User Id">
      </div>
      <button type="submit" class="btn btn-primary">Open Location!</button>
    </form>
  </div>
</div>

<script src="/javascript/newlocation.js"></script>